<!DOCTYPE html>
<html>
    <head>
        <title>TF-IDF Calculator</title>
    </head>
    <body>
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
        <div>This Web page calculate the TF-IDF of top 10 words in the page with other 2 pages in the first page.</div>
        <form action="/answer" method = "POST">
            <p>First page Url <input type = "text" name = "Url" placeholder = "Please enter a Url" size="40"/> E.g. https://www.public.asu.edu/~ychen10/teaching/honors.html</p>
            <p><input type = "submit" value = "Calculate" /></p>
        </form>
    </body>
    
</html>